doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="/static/css/bundle.css")
    link(rel="stylesheet", href="https://file.myfontastic.com/BUNUK4iyyhi4VSPcCozeCS/icons.css")
  body
    section#login
      .contentLogin
        h1.logoText AppTendero
        div.rowForm
          input(type='text' placeholder='Usuario o email')
        div.rowForm
          input(type='text' placeholder='Contraseña')
        div.rowForm
          input(type='submit' placeholder='Contraseña' value='Log in')
        div.rowForm
          small Ha olvidado su contraseña ?
      .registerContent
        a(href="#container") No tienes cuenta, Registrate aqui !

    section#container
      header
        .backButtom
          span.icon-chevron-left
        .titleHeader
          strong REGISTER
        .nextWindow
          small Next
      article.formSingups
        div.rowForm
          span.icon-user-account
          input(type='text' placeholder='Nombre Negocio')#nameNegocio
        div.rowForm
          span.icon-home
          input(type='text' placeholder='Nombre usuario')#userName
        div.rowForm
          span.icon-envelope
          input(type='email' placeholder='Correo')#email
        div.rowForm
          span.icon-lock
          input(type='password' placeholder='Contraseña')#password
        div.rowForm
          span.icon-lock
          input(type='password' placeholder='Validar contraseña')#validePassword
        div.rowForm
          span.icon-search-plus
          input(type='text' placeholder='Categoria')#validePassword
        //- div.rowForm
        //-   div.selectPhoto
        //-     span.icon-camera
          //- small Add photos (Optional)
        //- div.rowForm
        //-  .photosSelected
        //-       .photo
        //-       .photo
        //-       .photo
        div.rowForm
          a(href='#home').button.success REGISTER
    section  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia minus obcaecati, commodi officiis eius itaque natus expedita laboriosam? Laborum dolore quia, quam deserunt eos, odio consequuntur sunt excepturi sint ad.
  script(src="http://code.jquery.com/jquery-1.12.0.min.js")
  script(src='/static/js/register.js')    
      