doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="/static/css/bundle.css")
    link(rel="stylesheet", href="https://file.myfontastic.com/BUNUK4iyyhi4VSPcCozeCS/icons.css")
  body#registerandlogin
    section#login
      .contentLogin
        form
            h1.logoText Tendero
            div.rowForm
              a(href='/auth/facebook').facebookLogin Login With Facebook
            div.rowForm
              a(href='/auth/facebook').twitterLogin Login With Twitter

            div.rowForm
              small.orText --- Or ---
            div.rowForm
             
              input(type='text' placeholder='Usuario o email')
            div.rowForm
              input(type='text' placeholder='Contraseña')
            div.rowForm
              input(type='submit' placeholder='Contraseña' value='Log in')
            div.rowForm
              small Ha olvidado su contraseña ?
      .registerContent
        a(href="#container") No tienes cuenta, Registrate aqui !
    section#photoReg  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa minima doloribus maxime eligendi quos qui alias quasi deleniti est similique, repellendus, doloremque mollitia rem architecto inventore sit quae dicta.
    section#container
      header
        .backButtom
          a(href="#login")
            span.icon-chevron-left
        .titleHeader
          strong REGISTER
        .nextWindow
          
      article.formSingups
       
        div.selectPhoto
          span.icon-camera
          
        div.rowForm
          span.icon-user-account
          input(type='text' placeholder='Nombre Completo')#fullName
        div.rowForm
          span.icon-home
          input(type='text' placeholder='Nombre de usuario')#userName
        div.rowForm
          span.icon-envelope
          input(type='email' placeholder='Correo')#email
        div.rowForm
          span.icon-lock
          input(type='password' placeholder='Contraseña')#password
        div.rowForm
          span.icon-lock
          input(type='password' placeholder='Validar contraseña')#validePassword
        div.rowForm
          a(href='#').button.success#btnRegister REGISTER

    
    section#category
        .headerCategory
          label Categorias
          span.icon-times#closedCategory
        .contentCategory
            ul
              li.icon-pizza 
                label Pizza
              li.icon-eat-food-hotdog-streamline 
                label Comidas Rapidas
              li.icon-ios-nutrition 
                label Tienda
              li.icon-paw 
                label Veterinario
              li.icon-torso-female 
                label Estilsta
              li.icon-tools 
                label Mecanico
              li.icon-user-md 
                label Medico
              li.icon-camera-1 
                label Fotografo

    


  script(src="http://code.jquery.com/jquery-1.12.0.min.js")
  script(src='/static/js/register.js')    
      