doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="/static/css/bundle.css")
    link(rel="stylesheet", href="https://file.myfontastic.com/BUNUK4iyyhi4VSPcCozeCS/icons.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.0.0/hint.base.min.css")
  body#registerandlogin
    .notificationtop
      .contentNotification
        ul

    section#login
      .contentLogin
        form
            h1.logoText Tendero
            div.rowForm
              a(href='/auth/facebook').facebookLogin Facebook
              a(href='/auth/twitter').twitterLogin Twitter
            
            div.rowForm
              small.orText --- Or ---
            div.rowForm
             
              input(type='text' placeholder='Usuario o email' )#userLogin
            div.rowForm
              input(type='text' placeholder='Contraseña')#passLogin
            div.rowForm
              input(type='submit' placeholder='Contraseña' value='Log in')#btnLogin
            div.rowForm
              small Ha olvidado su contraseña ?
      .registerContent
        a(href="#container") No tienes cuenta, Registrate aqui !
    section#photoReg  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa minima doloribus maxime eligendi quos qui alias quasi deleniti est similique, repellendus, doloremque mollitia rem architecto inventore sit quae dicta.
    section#container
      header
        .backButtom
          a(href="#login" data-hint="Thank you!").hint--warning
            span.icon-chevron-left
        .titleHeader
          strong REGISTER
        .nextWindow
          
      article.formSingups
       
        div.selectPhoto
          span.icon-camera
          
        div.rowForm
          span.icon-user-account
          input(type='text' placeholder='Nombre Completo')#fullName
        div.rowForm
          span.icon-home
          input(type='text' placeholder='Nombre de usuario')#userName
        div.rowForm
          span.icon-envelope
          input(type='email' placeholder='Correo')#email
        div.rowForm
          span.icon-lock
          input(type='password' placeholder='Contraseña')#password
        div.rowForm
          span.icon-lock
          input(type='password' placeholder='Validar contraseña')#validePassword
        div.rowForm
          a(href='#').button.success#btnRegister REGISTER

    
    section#category
        .headerCategory
          label Categorias
          span.icon-times#closedCategory
        .contentCategory
            ul
              li.icon-pizza 
                label Pizza
              li.icon-eat-food-hotdog-streamline 
                label Comidas Rapidas
              li.icon-ios-nutrition 
                label Tienda
              li.icon-paw 
                label Veterinario
              li.icon-torso-female 
                label Estilsta
              li.icon-tools 
                label Mecanico
              li.icon-user-md 
                label Medico
              li.icon-camera-1 
                label Fotografo
    section#loginprueba
      .toaster
      main.wrapper
        div.section-form
          h1 Registro
            
          form.form(name='signup', novalidate='')
            .form-group
              label.form-label.form-label--required(for='name')
                | Name:
              .form-addon(data-states-for='name')
                .form-addon__addon
                  span.icon-name
                input#name.form-input(type='text', name='name', placeholder='Andrew', required='')
                span.form-addon__icon.icon-valid
                span.form-addon__icon.icon-invalid
              div(data-errors-for='name')
               
            .form-group
              label.form-label.form-label--required(for='email')
                | Email:
              .form-addon(data-states-for='email')
                .form-addon__addon
                  span.icon-email
                input#email.form-input(type='email', name='email', placeholder='andrew@email.com', required='')
                span.form-addon__icon.icon-email
                span.form-addon__icon.icon-invalid
              div(data-errors-for='email')
               
            .form-group
              label.form-label(for='phone')
                | Phone number:
              .form-addon(data-states-for='phone')
                .form-addon__addon
                  span.icon-phone
                input#phone.form-input(type='text', name='phone', placeholder='123 456 789', pattern='[0-9]{3} [0-9]{3} [0-9]{3}')
                span.form-addon__icon.icon-valid
                span.form-addon__icon.icon-invalid
              div(data-errors-for='phone')
                
            .form-group
              label.form-label.form-label--required(for='password')
                | Password 
                span.text-muted (minimum 6 characters)
                | :
              .form-addon(data-states-for='password')
                .form-addon__addon
                  span.icon-password
                input#password.form-input(type='password', name='password', placeholder='********', minlength='6', required='')
                span.form-addon__icon.icon-valid
                span.form-addon__icon.icon-invalid
              div(data-errors-for='password')
               
            .form-footer
              button.button(type='submit') Sign up


    


  script(src="http://code.jquery.com/jquery-1.12.0.min.js")
  script(src='/static/js/register.js')    
      