<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex molestiae ab maxime, necessitatibus, nobis, aliquid similique natus odit commodi doloremque culpa omnis laudantium tempora autem voluptates quas aspernatur temporibus quam!
	