<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="/static/css/bundle.css")
	title Document
body#timeline  
	section
		header
			.titleHeader
				strong Tienda donde toño
				small La mejor tienda
	article#opcPerf
		ul
			li
				span hola
			li
				span hola
			li
				span hola

	article#catalogo  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad vero sunt iste omnis, dolore magnam voluptas quas atque nulla, laudantium quod laboriosam aspernatur. Repudiandae illo dolorem obcaecati, pariatur error culpa.


	