@mixin buttons($color) {
	background-color: $color;
    border: none;
    -webkit-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Lato,sans-serif;
    font-size: .95em;
    font-weight: 700;
    padding: .6em .8em .8em;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 -.2em darken($color,20%);
    box-shadow: inset 0 -.2em darken($color,20%);
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
